__pycache__/
*.pyc

data/**
!data/
!data/asrelationship/
!data/asrelationship/.gitkeep
!data/cable/
!data/cable/.gitkeep
!data/ipinfo/
!data/ipinfo/.gitkeep
!data/owner2asn/
!data/owner2asn/.gitkeep
!data/pfx2as/
!data/pfx2as/.gitkeep
!data/probe/
!data/probe/.gitkeep
!data/traceroute/
!data/traceroute/.gitkeep
!data/traceroute_rundnsroot/
!data/traceroute_rundnsroot/.gitkeep

output/result/**
!output/result/
!output/result/.gitkeep
output/preprocessed/**
!output/preprocessed/
!output/preprocessed/.gitkeep

cable_loading_debug.json
